/* Sizes */
$default_container_width: 1024px;

/* Padding */
$container_left_padding: 2em;
$container_top_padding: 0.6em;

/* Colors */
$default_green: #7ac57f;
$default_grey: #555555;
$default_light_grey: #bcbcbc;
$default_dark_blue: #183868;
$default_blue: #325891;
$default_error_color: #ff776f;
$default_button_color: #ff8f17;


